code_agent_v8.json
{
  "name": "11Mkeys Code Agent",
  "nodes": [
    {
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [240, 400]
    },
    {
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text || $json.callback_query?.data }}",
        "rules": { "rules": [
          { "value2": "/fix_etherscan", "output": 0 },
          { "value2": "approve_deploy",  "output": 1 },
          { "value2": "reject_deploy",   "output": 2 },
          { "value2": "sd_approve",      "output": 4 },
          { "value2": "sd_ignore",       "output": 5 }
        ]},
        "fallbackOutput": 3
      },
      "position": [460, 400]
    },
    {
      "name": "Ops Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": { "rules": [
          { "value2": "/status", "output": 0 },
          { "value2": "/logs",   "output": 1 },
          { "value2": "/scores", "output": 2 }
        ]}
      },
      "position": [700, 600]
    },
    {
      "name": "Read onchain_client",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cat /opt/crypto_agent_system/agents/monitor/onchain_client.py"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [700, 100]
    },
    {
      "name": "Claude API Fix Etherscan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type",      "value": "application/json" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 8192,\n  \"system\": \"Sos un experto en Python async y APIs blockchain. Aplicás fixes específicos a archivos. Devolvés SOLO el archivo Python completo modificado, sin explicaciones, sin markdown, sin backticks.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Aplicá estos cambios al archivo:\\n\\nCAMBIO 1 — URL base:\\nANTES: ETHERSCAN_BASE = 'https://api.etherscan.io/api'\\nDESPUES: ETHERSCAN_BASE = 'https://api.etherscan.io/v2/api'\\n\\nCAMBIO 2 — Agregar chainid=1 en EtherscanClient.get_holder_concentration.\\n\\nCAMBIO 3 — BscClient separado con chainid=56.\\n\\nCAMBIO 4 — OnchainClient: chain='evm' intentar chainid=1 primero luego chainid=56. chain='solana' Helius sin cambios.\\n\\nARCHIVO ACTUAL:\\n{{ $('Read onchain_client').item.json.stdout.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n  }]\n}"
      },
      "credentials": { "httpHeaderAuth": { "name": "Anthropic API" } },
      "position": [940, 100]
    },
    {
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const r = $input.item.json;\nconst c = r.content[0].text;\nreturn [{ json: { fixedCode: c, lines: c.split('\\n').length } }];"
      },
      "position": [1160, 100]
    },
    {
      "name": "Backup and Write File",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "=cp /opt/crypto_agent_system/agents/monitor/onchain_client.py /opt/crypto_agent_system/agents/monitor/onchain_client.py.bak && cat > /opt/crypto_agent_system/agents/monitor/onchain_client.py << 'PYEOF'\n{{ $json.fixedCode }}\nPYEOF\necho OK"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [1380, 100]
    },
    {
      "name": "Gen Diff",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cd /opt/crypto_agent_system && git diff agents/monitor/onchain_client.py | head -60"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [1580, 100]
    },
    {
      "name": "Ask Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=🔧 *Fix Etherscan V2 listo*\n\n```diff\n{{ $json.stdout.substring(0,1400) }}\n```\n\n¿Deployar?",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"✅ Deploy\",\"callback_data\":\"approve_deploy\"},{\"text\":\"❌ Rechazar\",\"callback_data\":\"reject_deploy\"}]]}"
        }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [1800, 100]
    },
    {
      "name": "Notify Monkey - Fix Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8829243525:AAGvN7WJsGbM3Hfg0uDAPUog38yALBOghdQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"chat_id\":\"6517856768\",\"parse_mode\":\"Markdown\",\"text\":\"🐒 *Monkey Advisor*\\n\\nEl Code Agent preparó un fix para el sistema. Revisá el bot Code Agent para aprobar el deploy.\"}"
      },
      "position": [2020, 100]
    },
    {
      "name": "Deploy",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cd /opt/crypto_agent_system && git add agents/monitor/onchain_client.py && git commit -m 'fix: etherscan API V1 to V2 + chainid [auto 11Mkeys]' && git push origin main && docker compose build monitor && docker compose up -d --no-deps monitor 2>&1 | tail -15"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [700, 280]
    },
    {
      "name": "Verify",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "sleep 12 && docker compose -f /opt/crypto_agent_system/docker-compose.yml exec -T monitor python -c \"from agents.monitor.onchain_client import EtherscanClient; print('Etherscan V2 OK')\" 2>&1"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [940, 280]
    },
    {
      "name": "Notify Deploy OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=✅ *Deploy completado*\n\n```\n{{ $json.stdout }}\n```\nMonitor reiniciado. Holder data activo en próximo ciclo.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [1160, 280]
    },
    {
      "name": "Notify Monkey - Deploy Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8829243525:AAGvN7WJsGbM3Hfg0uDAPUog38yALBOghdQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"chat_id\":\"6517856768\",\"parse_mode\":\"Markdown\",\"text\":\"🐒 *Monkey Advisor*\\n\\n✅ *Fix deployado exitosamente*\\nEl monitor fue reconstruido y reiniciado. Holder data activo en próximo ciclo.\"}"
      },
      "position": [1380, 280]
    },
    {
      "name": "Restore Backup",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cp /opt/crypto_agent_system/agents/monitor/onchain_client.py.bak /opt/crypto_agent_system/agents/monitor/onchain_client.py && echo 'Restaurado'"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [700, 440]
    },
    {
      "name": "Notify Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "❌ Fix rechazado. Archivo restaurado al original.",
        "additionalFields": {}
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [940, 440]
    },
    {
      "name": "Status Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cd /opt/crypto_agent_system && docker compose ps --format 'table {{.Name}}\\t{{.Status}}' && echo '---HOLDER DATA---' && docker compose exec -T postgres psql -U postgres -d crypto_agent -c \"SELECT COUNT(*) as con_holder_data FROM token_candidates WHERE holder_concentration_pct IS NOT NULL AND status='active';\" 2>/dev/null"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [940, 600]
    },
    {
      "name": "Send Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=📊 *Estado Criminal Pumps*\n\n```\n{{ $json.stdout }}\n```",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [1160, 600]
    },
    {
      "name": "Logs Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cd /opt/crypto_agent_system && docker compose logs --tail 30 2>&1 | grep -E 'ERROR|WARNING|error|warning|critical' | tail -20 || echo 'Sin errores encontrados'"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [940, 720]
    },
    {
      "name": "Send Logs",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=🪵 *Logs con errores (últimos 30)*\n\n```\n{{ $json.stdout ? $json.stdout.substring(0, 3500) : 'Sin errores encontrados ✅' }}\n```",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [1160, 720]
    },
    {
      "name": "Scores Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "cd /opt/crypto_agent_system && docker compose exec -T postgres psql -U postgres -d crypto_agent -c \"SELECT symbol, total_score, holder_concentration_pct, volume_24h_usd FROM token_candidates WHERE status='active' ORDER BY total_score DESC LIMIT 10;\" 2>/dev/null || echo 'Sin datos disponibles'"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [940, 860]
    },
    {
      "name": "Send Scores",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=🏆 *Top 10 tokens por score*\n\n```\n{{ $json.stdout ? $json.stdout.substring(0, 3500) : 'Sin datos disponibles' }}\n```",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [1160, 860]
    },
    {
      "name": "SD Execute Command",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "CMD=$(timeout 5 docker exec crypto_agent_system-redis-1 redis-cli GET smartdevops:pending_command) && if [ -z \"$CMD\" ]; then echo 'No hay comando pendiente en Redis'; else echo \"Ejecutando: $CMD\" && bash -c \"$CMD\" 2>&1 | head -20 && timeout 5 docker exec crypto_agent_system-redis-1 redis-cli DEL smartdevops:pending_command && echo '---EJECUTADO---'; fi"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [700, 1020]
    },
    {
      "name": "SD Notify Executed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "=✅ *SmartDevops — Comando ejecutado*\n\n```\n{{ $json.stdout ? $json.stdout.substring(0, 2000) : 'Sin output' }}\n```",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [940, 1020]
    },
    {
      "name": "SD Ignore Command",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "parameters": {
        "resource": "command",
        "command": "timeout 5 docker exec crypto_agent_system-redis-1 redis-cli DEL smartdevops:pending_command && echo 'Comando ignorado y eliminado de Redis'"
      },
      "credentials": { "sshPassword": { "name": "VPS Hostinger" } },
      "position": [700, 1160]
    },
    {
      "name": "SD Notify Ignored",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "6517856768",
        "text": "❌ *SmartDevops — Propuesta ignorada*\n\nEl comando fue descartado.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "name": "11Mkeys Code Bot" } },
      "position": [940, 1160]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]]
    },
    "Route Command": {
      "main": [
        [{ "node": "Read onchain_client", "type": "main", "index": 0 }],
        [{ "node": "Deploy",              "type": "main", "index": 0 }],
        [{ "node": "Restore Backup",      "type": "main", "index": 0 }],
        [{ "node": "Ops Router",          "type": "main", "index": 0 }],
        [{ "node": "SD Execute Command",  "type": "main", "index": 0 }],
        [{ "node": "SD Ignore Command",   "type": "main", "index": 0 }]
      ]
    },
    "Ops Router": {
      "main": [
        [{ "node": "Status Check",  "type": "main", "index": 0 }],
        [{ "node": "Logs Check",    "type": "main", "index": 0 }],
        [{ "node": "Scores Check",  "type": "main", "index": 0 }]
      ]
    },
    "Read onchain_client": {
      "main": [[{ "node": "Claude API Fix Etherscan", "type": "main", "index": 0 }]]
    },
    "Claude API Fix Etherscan": {
      "main": [[{ "node": "Extract Code", "type": "main", "index": 0 }]]
    },
    "Extract Code": {
      "main": [[{ "node": "Backup and Write File", "type": "main", "index": 0 }]]
    },
    "Backup and Write File": {
      "main": [[{ "node": "Gen Diff", "type": "main", "index": 0 }]]
    },
    "Gen Diff": {
      "main": [[{ "node": "Ask Approval", "type": "main", "index": 0 }]]
    },
    "Ask Approval": {
      "main": [[{ "node": "Notify Monkey - Fix Ready", "type": "main", "index": 0 }]]
    },
    "Deploy": {
      "main": [[{ "node": "Verify", "type": "main", "index": 0 }]]
    },
    "Verify": {
      "main": [[{ "node": "Notify Deploy OK", "type": "main", "index": 0 }]]
    },
    "Notify Deploy OK": {
      "main": [[{ "node": "Notify Monkey - Deploy Done", "type": "main", "index": 0 }]]
    },
    "Restore Backup": {
      "main": [[{ "node": "Notify Rejected", "type": "main", "index": 0 }]]
    },
    "Status Check": {
      "main": [[{ "node": "Send Status", "type": "main", "index": 0 }]]
    },
    "Logs Check": {
      "main": [[{ "node": "Send Logs", "type": "main", "index": 0 }]]
    },
    "Scores Check": {
      "main": [[{ "node": "Send Scores", "type": "main", "index": 0 }]]
    },
    "SD Execute Command": {
      "main": [[{ "node": "SD Notify Executed", "type": "main", "index": 0 }]]
    },
    "SD Ignore Command": {
      "main": [[{ "node": "SD Notify Ignored", "type": "main", "index": 0 }]]
    }
  }
}
